ausgabe.infobox section {
    position: absolute;
    display: block;
    width: 768px;
    padding:5x;
    margin-top: 25px;
    background-color: #c5d2de;
}

ausgabe.infobox section h2 {
    position: absolute;
    left: 0;
    top: -30px;
    width: 150px;
    height: 29px;
    font-family: Verdana;
    font-size: 15px;
    margin: 0;
    background-color: #194b7d;
    border-radius: 15px 15px 0 0;
    border: solid #ffffff;
    border-width: 1px 1px 0 0;
    z-index: 1;
}

ausgabe.infobox section:nth-child(2) h2 {
    left: 120px;
    z-index: 0;
}

ausgabe.infobox section:nth-child(3) h2 {
    left: 240px;
    z-index: -1;
}

ausgabe.infobox section h2 a {
    display: block;
    margin: 5px 0 0 0;
    text-align: center;
    text-decoration: none;
    color: #c5d2de;
}

ausgabe.infobox section:target, ausgabe.infobox section:target h2 {
    color: #000000;
    background-color: #c5d2de;
    z-index: 1;
}

ausgabe.infobox section:target h2 a {
    color: #194b7d;
}

ausgabe.infobox section p {
    font-family: Verdana;
    font-size: 15px;
    margin: 10px 10px 0 10px;
}

